body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 360px;
  min-height: 100vh;
  background-color: lightgray;
}

:root {
  --Gray-50: #f7fafc;
  --Gray-100: #e3e8ee;
  --Gray-300: #a3acb9;
  --Gray-500: #697386;
}

#app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

template {
  width: 100%;
}
