/* Reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html {
    height: 100%;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
  margin: 0;
  display: flex;
  min-width: 360px;
  min-height: 100vh;
  background-color: #0093e9;

  overflow-x: hidden;

  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --Gray-50: #f7fafc;
  --Gray-100: #e3e8ee;
  --Gray-300: #a3acb9;
  --Gray-500: #697386;
  --Weather-color: #40666a;
  --Weather-text-color: #c9e8e0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--Gray-100);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--Gray-300);
}

#app {
  width: 100vw;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 95px;
  height: 32px;

  border: 1px solid var(--Gray-100);
  border-radius: 10px;

  background: #fff;
}

.btn:hover,
.btn:active {
  border-color: var(--Gray-300);
}

.btn:active {
  background: var(--Gray-50);
}
