body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 360px;
  min-height: 100vh;
  background-color: skyblue;
}

#app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
